/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

/* Typography */

html, body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.4;
    
}

h1  {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.2;
}

h2  {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.4;
}

h5  {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 3;
}

/* Logo */

.left-side a .logo {
    max-height: 1.7rem;
    vertical-align: text-bottom;

}

/* Menu */

.fixed-menu {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
}

.menu {
    width: 100%;
    height: 5.2rem;
    background-color: white;
    padding: 0 2rem;
}

.menu ul {
    list-style: none;
    font-weight: 400;
    display: inline-block;
    
}

.menu ul li {
    display: inline-block;
    margin-left: 2rem;
}

li a {
    text-decoration: none;
    color: #1e1919;
    line-height: 5rem;
    display: inline-block; 
    font-size: 1.2rem;
     
}

li a:hover {
    border-bottom:0.2rem solid #056CF2 ;
}

.hero-icon a {
    text-decoration: none;
    color: black;
}

.right-side {
    float: right;
}

.left-side {
    float: left;
}

/* Clearfix */

.clearfix {
    content: '';
    display: table;
    clear: both;
}

/* Utility Classes */

.add-margin-left {
    margin-left: 2rem;
}

.white-space {
    width: auto;
    height: 1.5rem;
}

.white-space-long {
    width: auto;
    height: 50px;
}

.min-margin {
    margin: 4rem auto 3rem!important;
}

/* Button */

button {
    background-color: #0261FF;
    color: white;
    border: none;
    padding: 0.4rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    
}

button:hover {
    background-color: #78a9e9;
}

.right-side .button {
    display: inline-block;
}

/* Hero Section */

.hero {
    width: 100%;
    background-color: #B4D0E6; 
}

.container-80 {
    padding-top: 10rem;
    max-width: 80%;
    margin: 0 auto;
    position: relative;
}

.hero-sub {
    margin-top: 2rem;
    max-width: 30%;
}

.hero-sub button {
    margin: 1.4rem 0 .5rem;
}

.hero-icon {
    padding: 0.6rem 0 3rem;
}

.hero-icon i {
    font-size: 3rem;
}

.hero-image {
    position: absolute;
    bottom: -15%;
    left: 33%;
   
}

.hero-image img {
    max-width: 600px;
    min-width: 400px;
    width: 100%;
    filter: drop-shadow(0 1rem 1rem rgba(0, 0, 0, 0.40));
}

/* Main Container */

.container-70 {
    max-width: 70%;
    min-width: 550px;
    margin: 14rem auto 3rem;
}

/* Artificial Radio Button */

.artificial-radio-holder {
    margin: 1.5rem 0 1rem;
}

.arb {
    width: 1.2rem;
    height: 1.2rem;
    border: .3rem solid #0261FF;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.3rem;
}

.senza-bordini {
    border: 0.1rem solid rgb(201, 201, 201);
    margin-left: 1rem; 
}

a .arb:hover {
    border: .3rem solid #0261FF;
}

/* Table Content */

.table-content-holder {
    width: 100%;
}

.collumn {
    width: calc(100% / 3 - 4rem / 3);
    /* height: 120vh; */
    
    float: left;
    border: 1px solid rgb(201, 201, 201);
}

.collumn:nth-child(3n + 2) {
    margin: 0 2rem;
}

.collumn h5 {
    display: inline;
}

.collumn .table-header span {
    font-size: 1.3rem;
    vertical-align: middle;
    margin-right: 0.2rem;
}

.collumn .table-mini-container .line-text {
    margin: 1rem 0;
    padding-left: 1rem;
}

.collumn .table-mini-container .line-text i {
    margin-left: -1rem;
}

.collumn .table-mini-container .no-padding {
    margin-left: -1rem;
}

.table-header {
    width: 100%;
    border-bottom: 1px solid rgb(201, 201, 201);
    text-align: center;
}

.table-mini-container {
    width: 80%;
    margin: 0 auto;
}



/* Table Button, a , utility.css */
.button-full button {
    width: 100%;
}

.collumn .table-mini-container .line-text a {
    color: #0261FF;
}

.break-line {
    width: 15%;
    height: 1px;
    background-color: rgb(187, 187, 187);
    margin: 2rem 0;
}

/* ICON modification */
.bi-check {
    color: #0261FF;
    font-size: 1.2rem;
}

/* Table Full width styling */

.container-70 .full {
    width: 100%;
    height: auto;
    margin-top: 3rem;
}

.container-70 .full .table-mini-container {
    width: 95%;
}

.full-table-left {
    width: 66%;
    float: left;
}

.full-table-right {
    width: calc(100% - 66% - 0.9rem);
    float: right;
}

.full-table-right .button button {
    line-height: 1.7;
    
}
    
.full .table-mini-container .full-table-left .line-text {
    padding: 0;
}

/* TEXT WITH PICTURE BOX */

.text-with-pic {
    margin-top: 8rem;
    margin-bottom: 4rem; 
}

.half-box {
    
    width: 50%;
    float: left;
}


/* Image Box */

.image-box {
    width: 100%;
    height: 100%;  
}

.image-box img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/* Text Box */

.text-box {
    width: 100%;
    height: 100%;
    padding: 3.5rem;
    line-height: 2; 
}

.text-with-pic .half-box .text-box p {
    margin-top: 2rem ;
}


.text-with-pic .half-box .text-box .button {
    margin-top: 2rem;
}
.bg-none button {
    background-color: #fff;
    border: 1px solid rgb(211, 211, 211);
    color: #1e1919;
    font-size: 1rem;
    padding: 0.6rem 1.2rem;
    min-width: 180px;
}

.bg-none button:hover {
    background-color: rgb(245, 245, 245);
    
    
}

/* Operations Section */

.col-3-holder {
    margin: 4rem 0;
}

.col-3 {
    width: calc(100% / 3 - 5rem / 3);
    height: auto;
    float: left;
    margin-top: 2rem;
}

.col-3 .text-box {
    padding: 0rem;
}

.col-3 .text-box p {
    margin-top: 2rem ;
}

.col-3:nth-child(3n + 2) {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

/* Partners Section*/

.partners-title {
    max-width: 700px;
    
}

.partners-holder {
    width: 100%;
}

.box-30 {
    width: 400px;
    float: left;
}

.box-40 {
    width: calc(100% - 800px);
    min-width: 400px;
    height: 400px;
    float: left;
    background-color: #F5F5F5;
    overflow: auto;
}

.box {
    
    width: 200px;
    height: 200px;
    float: left;
    border: 2rem solid rgba(236, 236, 236, 0.0);
    
      
}

.box-30 .box:hover {

    border: 2rem solid rgba(236, 236, 236, 0.6);
    transition-duration: 50ms;
    transition: 0.8s ease-out;
}

.box-30 .box .image-container .image-box2 a {
    display: inline;
}

.image-container {

    width: 50%;
    margin: 5rem auto 0;
  
}

.image-box2 a img {
    width: 120%;
    object-fit: contain;
}

.tall-image .image-container {
    margin-top: 4rem;
}

.box-middle {
    float: left;
    padding: 5rem; 
}

.box-middle-container .image-box2 img {
    max-width: 120px;
}

.box-middle-container p {
    margin-top: 3rem;
}



/* Box Background Colors */

.bg-green {
    background-color: #A2D39B;
    border: 2rem solid rgba(236, 236, 236, 0.6);
    
}

.bg-violet {
    background-color: #61092a;
}

.bg-blue {
    background-color: #0193CE;
}

.bg-red {
    background-color: #FF1C1D;
}

.bg-deepblue {
  background-color: #0E2481;  
}

.bg-yellow {
    background-color: #FFD930;
}

.bg-bloody {
    background-color: #8a1010;
}

.bg-bluesh {

    background-color: #B4D0E6;
}
/* Box Full */
.box-full {
    width: 100%;
    height: 400px;
    float: left;
    background-color: #B4D0E6;
    position: relative;
}

.absolute-text {
    max-width: 400px;
    position: absolute;
    left: 20%;
    bottom: 50%;
    color: #61092a;
}

.absolute-button {
    position: absolute;
    right: 30%;
    bottom: 60%;
    border: none;
    
}

/* FAQ section*/

.faq {
    width: 100%;
    margin-bottom: 6rem;

}

.faq .underliner > * {
    line-height: 6;
}
.underliner {
    border-bottom: 1px solid gainsboro; 
    
}

/* Footer */

.footer-holder {
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    
}

.footer-content-holder {
    width: 80%;
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.footer-content-holder ul {
    width: calc(100% / 5);
    min-width: 140px;
    float: left;
}

footer .footer-holder .footer-content-holder li {
    list-style: none;
    
}

footer .footer-holder .footer-content-holder li h3 {
    line-height: 3;
    
}

footer .footer-holder .footer-content-holder li:hover {
    border: none;
}

.footer-content-holder li a {
    text-decoration: none;
    color: white;
    line-height: 2;
}

footer .footer-holder .footer-content-holder li a:hover {
    border: none;
    text-decoration: underline;
}

.lang-selector a {
    text-decoration: none;
    color: rgb(170, 170, 170);
}

.lang-selector a:before {
    content: url(../img/globe.svg);
    display: inline-block;
    margin-right: .4rem;
    vertical-align: middle;
}

.lang-selector a:after {
    content: url(../img/up.svg);
    display: inline-block;
    margin-left: .4rem;
    vertical-align: middle;
}


/* BONUS Drop-down Menu*/

.drop-down {
    position: relative;
    display: inline-block;
  }
  
.drop-down-content {
    display: none;
    position: absolute;
    left: -30%;
    /* transform: translate(-50%); */
    background-color: white;
    border-bottom: 0.3rem solid #0261FF;
    min-width: 130px;
    padding: .5rem 1.5rem;
    z-index: 1;
}
  
.drop-down:hover .drop-down-content {
    display: block;
}

.drop-down-content a {
      display: block;
      font-size: 1rem;
      line-height: 2.5;
      
}
.drop-down-content a:hover {
        border-bottom: none;
        text-decoration: underline;
        color: #0261FF;
        font-size: 1rem;
}

.drop-down span a:hover {
    border: none;
    
}

/* BONUS #2 */

.white {
    color: rgba(236, 236, 236, 0.0)
}

.white i {
    color: white;
}

/* Bonus #3 */

.hidden-p {
    display: none;
    padding-bottom: 4rem;
    max-width: 70%;
}

.hidden-p p {
    line-height: 2;
    color: #757575;

}

.underliner .faq-title:hover + .hidden-p {

    display: block;
}

.faq-title:hover .icon-up i {

    visibility: visible;

}

.faq-title:hover .icon-down i {

    visibility: hidden;

}

.faq-title {
    position: relative;
}

.faq-title .icon-up i{
    position: absolute;
    right: 3%;
    bottom: -40%;
    font-size: 1.8rem;
    visibility: hidden;
}

.faq-title .icon-down i{
    position: absolute;
    right: 3%;
    bottom: -40%;
    font-size: 1.8rem;
}


